<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="domain.ldap.url" value="LDAP://domain.com"/>
    <add key="domain.admin.username" value="username"/>
    <add key="domain.admin.password" value="password"/>
    <add key="sub.domain.ldap.url" value="LDAP://sub.domain.com"/>
    <add key="sub.domain.admin.username" value="username"/>
    <add key="sub.domain.admin.password" value="password"/>
    <add key="mongo.db.host" value="mongodb://localhost"/>
    <add key="mongo.db.name" value="scour"/>
    <add key="mongo.db.collection.computers" value="computers"/>
  </appSettings>
</configuration>